# UnIgnore all with extensions
#!/interview/*.*
#!/2014/tencent/*.*
#!/2015/neteasy/*.*
#!/2016/alibaba/*.*
#!/2016/beautifulOfCoding/*.*
#!/2016/sougou/*.*
#!/2016/xiecheng/*.*
*
!/**/
!*.*

# Java Compiled files
*.class

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
